.container-product-car {
    padding: 1px;
    display: flex;
    flex-direction: column;
    gap: 40px;
   
   
}

.card-product {
    list-style: none;
    display: flex;
    width: 100%;
    border-bottom: 1px solid grey;
   
}

.container-img-car-product {
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 5px;

}

.img-product-car {
    width: 80%;
    object-fit: contain;
}

.container-action {
    width: 70%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.container-title {
    display: flex;

}

.title-button {
    width: 85%;
    padding: 2px;
}

.container-button {
    display: flex;
    
}

.button-prev {
    width: 20%;
    color: rebeccapurple;
    font-size: 1.2rem;
    background: none;
    border: 1px solid gray;
}

.button-next {
    width: 20%;
    color: rebeccapurple;
    font-size: 1.2rem;
    background: none;
    border: 1px solid gray;
}

.count {
    width: 20%;
    text-align: center;
    color: rebeccapurple;
    font-size: 1.3rem;
    border: 1px solid gray;

}

.container-icon-delete {
    width: 15%;

}

.icon-delete {
    width: 100%;
    fill:	#DC143C;

}

.container-price {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.total-name {
    font-size: 1.2rem;
    color: grey;
}

.precio-total {
    font-size: 1.2rem;
    font-weight: 600;
}