.header {
    height: 14vmin;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.scroll-bg {
    background: rebeccapurple;
    box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.425);
}

.container-logo-nav {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.logo-text {
    text-decoration: none;

}

.logo-text h1 {

    font-size: 6vmin;
    text-transform: lowercase;
    color: rebeccapurple;
    letter-spacing: 0px;
    padding-left: 10px;
    margin: 0 auto;
   
}

.coloChangeLogo h1 {
    color: #ffffff;
  
}

.nav {
    width: 50%;

}

.container-svg-icon {
    width: 23%;
    display: flex;
    justify-content: end;
    align-items: center;

}

.svg-icon {
    width: 6vmin;
    fill: rebeccapurple;
}

.changeColorFill {
    fill: #ffffff;
}

.container-icon-car {
    text-decoration: none;
    position: relative;
    height: 7vmin;

}

.cantidad-product {
    width: 4vmin;
    height: 4vmin;
   /* height: 20px;
    width: 20px;*/
    background: rebeccapurple;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: 0;
    color: white;
    font-size: 0.8rem;
}

.changeColorCantidadProduct {
    background: rgb(255, 255, 255);
    color: rebeccapurple;
    font-weight: bold;
}