

.img-detail{
    width: 90%;
    height: 55vmin;
    object-fit: contain;

   /* width: 0px;
    flex-grow: 1;
    object-fit: contain;
    opacity: 0.8;
    transition: 0.5s ease;*/
  
}


.container-carousel{
    width: 90vmin;
   
  
}

.item-img{
    width: 100%;
    overflow: hidden;
}